services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: fiore_pos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
